body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #27d9e6;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.timestamp {
    text-align: center;
    color: #777;
    font-size: 1.2em;
    margin-bottom: 40px;
}

button {
    background-color: #18cdda;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #1c5f34;
}

.weather-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.weather-row:hover {
    transform: translateY(-5px);
    background-color: #f2f7f4;
}

.time {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.icon {
    font-size: 2.5em;
    color: #f39c12;
    transition: color 0.3s ease;
}

.details {
    font-size: 1.1em;
    color: #555;
}

.details span {
    font-size: 0.9em;
    color: #888;
}

.icon.sun {
    color: #f39c12;
}

.icon.cloud {
    color: #7f8c8d;
}

.icon.rain {
    color: #3498db;
}

.weather-row .details {
    text-align: center;
}

/* Animation for Time Section */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.weather-row {
    animation: slideIn 0.5s ease-out;
}
